#resetButton
{
    visibility: hidden;
}

img
{
    height: 300px;
    width: 300px;
}

#questionDiv
{
    padding: 20px;
    font-size: 20px;
    border-bottom: 2px solid black;
    line-height: 140%;
}


#timeLeft
{
    margin-top: 20px;
    font-size: 36px;
}

#resultDiv
{
    margin-top: 10px;
    line-height: 200%;
}

body
{
    margin-top: 5%;
    font-family: 'Fontdiner Swanky', cursive;
    background-size: cover;
}

button
{
    width: 300px;
    height: 80px;
    font-size: 46px;
    margin-top: 70px;
}

#startButton
{
    margin-left: 20px;
}

.answers
{
    padding: 10px;
    font-family: 'Dekko', cursive;
    font-size: 24px;
}

.answers:hover
{
    background-color: aqua;
    border: 2px solid black;
}

.col-md-4
{
    text-align: center;
}

h1
{
    font-size: 48px;
    margin: 40px;
}

#box
{
    position: absolute;
    left: 25%;
    z-index: -1;
    width: 50%;
    height: 700px;
    border: 10px solid black;
    background-color: white;
}